{% extends 'base.html' %}

{% block content %}
    
      <div class="text-center">
        <main class="px-3">
            <h1>Making ease to manage your money</h1>
            <p class="lead">Wealth is the sum of small amount -<br> repeated day in and day out.</p>
          </main>
    
          <div class="row m-5">
            <div class="col-6">
                <img src="/static/images/Personal-General-BOB1269.jpg" alt="">
            </div>
            <div class="col-6" id="para1">
                <p>
                    Bank of Baroda offers different type of accounts to meet your financial goals and secure your future. Choose from our wide range of deposit products that are specifically designed to keep your unique requirements in mind.
                </p>
            </div>
    
            <div class="row m-5">
                <div class="col-6 m-auto">
                    <li>Keep track of your expenses</li>
                    <li>Make savings a priority in your budget</li>
                    <li>Establish your financial priorities</li>
                    <li>Allocate a budget</li>
                    <li>Set savings goals</li>
                    <li>Automate your savings and investments</li>
                </div>
    
                <div class="col-6">
                    <img src="/static/images/how does fixed deposit work.jpg" alt="">
                </div>
            </div>
            </div>
      </div>

{% endblock %}